.container {
  align-items: center;
  background-color: #063347;
  flex-direction: column;
  height: 100%;
  min-width: 351px;
  padding-top: 24px;
}
@media(max-width: 768px){
  .container {
    width: 20px;
  }
}

  .directMessagesTitle {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
    margin-bottom: 36px;
    margin-left: 80px;
    margin-right: 80px; 
    margin-top: 48px;
    text-align: left;
  }

  .messageUl {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }


