.container {
  align-items: center;
  background-color: #063347;
  flex-direction: column;
  height: 100%;
  padding-top: 24px;
  width: 351px;
  padding-left: 80px;
  padding-right: 80px;
}

  .directMessagesTitle {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
    margin-top: 48px;
    text-align: left;
  }

  .messageUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
  }


