
.button {
  background-color: #ffffff;
  border-radius: 5px;
  border-style: none;
  color: #007d8c;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;
  margin-bottom: 24px;
  margin-left: 75px;
  margin-top: 24px;
  padding: 12px 30px;
  width: 200px;
}

.buttonIcon {
  margin-left: 5px;
  vertical-align: middle;
  width: 17px;
}